{
  "env": {
    "development": {
      "presets": ["next/babel"]
    },
    "production": {
      "presets": ["next/babel"]
    }
  },
  "plugins": [
    [
      "styled-components",
      { "ssr": false, "displayName": true, "preprocess": false }
    ]
  ]
}
